{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1>Actor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ actor.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ actor.lastname }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ actor.birthday ? actor.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Movie(s)</th>
                <td>
                    {% for movie in movies %}
                        {{ movie.name }}, {{ movie.year }}
                        {% if not loop.last %}, {% endif %}
                        <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_actor_index') }}">back to list</a>

    <a href="{{ path('app_actor_edit', {'id': actor.id}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
